@font-face {
	font-family: Molle;
	src: url('../fonts/Molle.ttf');
}

body {
	padding-top: 13%;
	padding-bottom: 40px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin-heading {
	text-shadow: 0 0 5px #3E3014;
	-moz-text-shadow: 0 0 5px #3E3014;
	-webkit-text-shadow: 0 0 5px #3E3014;
	color: white;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-top: -2px;
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

#backgroundVideo {
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

#backgroundImage {
    background: url('../img/backgroundMobile.jpg') no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
	min-height: 100%;
    z-index: -100;
}

.showLogin {
	margin: 0px auto;
	display: block;
}

@media screen and (max-width: 767px) {
    
    .title {
        font-size: 6em !important;
        margin-left: -15px;
        padding-top: 10vh;
    }

}

.title {
	position: relative;
	margin-top: 0px;
	font-family: Molle;
	font-size: 8em;
	text-align: center;
	color: white;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	-moz-text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	-webkit-text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.alert-info {
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 20%;
}

.alert .btn {
		position: relative;
		float: right;
	}
}

#toast-container > .toast:before {
	position: relative;
	font-family: 'Glyphicons Halflings';
    font-size: 44px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: 0.3em 0em auto -0.9em;
}

#toast-container > .toast-info:before {
    content: '\2601';
}