@font-face {
	font-family: Open Sans;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: Open Sans Light;
	src: url('../fonts/OpenSans.ttf');
}

* {
    font-family: Open Sans;
}

.light {
    font-family: Open Sans Light;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    margin-left: -250px;
    height: 100%;
    background-color: #2F4050;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    padding: 15px;
}

#page-content-wrapper, html {
    /*background-color: #F3F3F4;*/
    background-color: rgb(230, 230, 230);
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #A7B1C2;    
    transition: border-left-width 0.4s;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    text-decoration: none;
    color: #fff;  
    background-color: #293846;
    border-left-style: solid;
    border-left-width: 8px;
    /* orange
    border-color: #f45500;
    */
    border-color: #19aa8d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;;
}

.sidebar-nav > .sidebar-brand {
    position: relative;
    z-index: 1002;
    height: 65px;
    font-size: 75px;
    color: white;
    line-height: 60px;
    text-indent: 5px;
    box-shadow: 0px 1px 10px 0.1px black;
    color: white;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-brand .title {
    font-size: 30px;
    position: absolute;
    margin: 18px 0px 0px 30px;
}

[class*="sidebar"], .title, .volume, .music-control {
    font-family: Open Sans;
    font-weight: bold;
}

.images {
    margin-left: -20px;
    position: relative;
    z-index: 1001;
}

.cover {
    max-height: 200px;
    overflow: hidden;
}

.cover-photo:first-of-type {
    position: relative;
    width: 250px;
}

.profile {
    height: 50px;
}

.profile-picture {
    position: relative;
    width: 100px;
    top: -50px;
    left: 90px;
    box-shadow: 2px 5px 10px 1px black;
}

.huge {
    font-size: 40px;
    font-weight: bold;
}

.glyphicon-huge {
    font-size: 50px;   
}

/* panel green */
.panel-green {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: #d1d1d1; 
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.panel-green > .panel-heading {
    background-color: #19AA8E;
    color: white;
    border-radius: 0px;
}

.panel-green > a {
    color: #19AA8E;
}

.panel-green > .panel-heading:hover {
    background-color: #38B89F;
}

/* panel red */
/*.panel-red {
    border-color: #e33f3f;
}   

.panel-red > .panel-heading {
    background-color: #e33f3f;
    color: white;
}

.panel-red > a {
    color: #e33f3f;
}

.panel-red > .panel-heading:hover {
    background-color: #FF5F4E;
}
*/
/* panel orange */
/*.panel-orange {
    border-color: #FFAF26;
}

.panel-orange > .panel-heading {
    background-color: #FFAF26;
    color: white;
}

.panel-orange > a {
    color: #FFAF26;   
}

.panel-orange > .panel-heading:hover {
    background-color: #FFBE4E;
}
*/
/* panel blue */
/*.panel-blue {
    border-color: #275EAF;
}

.panel-blue > .panel-heading {
    background-color: #275EAF;
    color: white;
}

.panel-blue > a {
    color: #275EAF;   
}

.panel-blue > .panel-heading:hover {
    background-color: #4575BC;
}
*/

.glyphicon-download {
    transform: rotate(-90deg);
}


/* infobox */
.infobox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid none;
    border-width: 4px 0px 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    color: #676A6C;
}

.infobox-heading {
    padding: 0px 15px 0px 15px;
}

.infobox h3 {
    font-size: 14px;
    font-weight: bold;   
}

.infobox .label {
    font-size: 10px;
    font-weight: bolder;
    border-radius: 0.25em;
    background-color: #38B89F;
    position: relative;
    top: 15px;
    letter-spacing: 0.1em;
}

.infobox hr {
    margin: 0px;
}

.infobox-content {
    padding: 5px 15px 5px 15px;    
}

.infobox-content > .title {
    font-size: 25px;
}

.infobox-footer {
    padding: 10px 15px;
    color: #38B89F;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* green button */
.btn-green-circle {
    width: 30px;
    heigth: 30px;
    margin: 2px;
    padding: 6px 0px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1.42875;
    box-shadow: 1px 3px 0px 0.01px #2F4050;
}

.btn:focus {
    outline: 0 !important;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
}

.btn-green {
    text-align: center;
    background-color: #38B89F;
    border-color: #38B89F;
    color: white;
    box-shadow: 0px 2px 0px 0.01px #2F4050;
}

.btn-red {
    text-align: center;
    background-color: #ED5565;
    border-color: #ED5565;
    color: white;
    box-shadow: 0px 2px 0px 0.01px #2F4050;
}

.btn-red-control {
    font-size: 30px;
    padding-top: 15px;    
}

.btn-grey {
    text-align: center;
    background-color: #435361;
    border-color: #435361;
    color: white;
    box-shadow: 0px 2px 0px 0.01px #2F4050;
    padding-top: 15px;
    font-size: 35px;
}

.btn-blue {
    text-align: center;
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: white;
    box-shadow: 0px 2px 0px 0.01px #2F4050;
    padding-top: 15px;
    font-size: 35px;
}

.btn-orange {
    text-align: center;
    background-color: #FF934E;
    color: white;
    box-shadow: 0px 2px 0px 0.01px #2F4050;
}

.btn-cancel-red {
    font-size: 12px;
    padding: 6px 12px;
    background-color: #D74E5C;
    border-color: #D74E5C;
}

.btn-cancel-green {
    font-size: 12px;
    padding: 6px 12px;
    background-color: #38B89F;
    border-color: #38B89F;
}

.btn-green:hover {
    background-color: #49C4AB;
    color: white;
}

.btn-red:hover {
    background-color: #EE6D7A;
    color: white;
}

.btn-grey:hover {
    background-color: #4A5C6B;
    color: white;
}

.btn-blue:hover {
    background-color: #349BDD;
    color: white;    
}

.btn.active {
    box-shadow: 0px 0px 0px 0px;
}

.btn.active.fill {
    box-shadow: 0px 0px 0px 0px;
    color: #435361;
}

.music-control {
    margin-top: 15px;
    margin-bottom: 20px;
}

a.green {
    color: #38B89F;
}

a.red {
    color: #EE6D7A;
}

a.grey {
    color: #676A6C; 
    transition: color 0.4s;
}

a.grey:hover {
    color: #c7254e;
}

/* form */
.form-control {
    border-radius: 0px;
    border: 1px solid #e5e6e7;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    box-shadow: none;
}

.form-control:focus {
    border-color: #18a689;
    box-shadow: 1px 1px 0px 0.01px #35CBAD;
    outline: 0 none;
}

/* checkbox */
input[type=checkbox] {  
    display: none;
}

input[type="checkbox"] + span {
	color: white;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: solid 1px #19aa8d;
	margin:-1px 5px 0 0;
	vertical-align: middle;
	cursor: pointer;
    transition: background 0.4s;
}

input[type="checkbox"]:checked + span {
	background: url('../icons/done.svg') left top no-repeat;
	background-position: center;
	background-color: #19aa8d;
    background-size: 16px;
}

/* dropable list */
.dropable > li {
    cursor: grab;
    cursor: -webkit-grab;
}

/* scrollbar */
body::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
}

body::-webkit-scrollbar-thumb
{
	background-color: #435361;
}

/* tooltip */
.tooltip.bottom .tooltip-inner {
       background-color: #293846;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #293846;   
}

/* svg */
.glyphicon-thunderstorm {
    width: 100%;
    height: 100%;
    margin-top: -3px;
    background: url('../icons/thunderstorm.svg') left top no-repeat;
	background-position: center;
    background-size: 100%;
}

.glyphicon-pulse {
    width: 100%;
    height: 100%;
    margin-top: -3px;
    background: url('../icons/pulse.svg') left top no-repeat;
	background-position: center;
    background-size: 100%;

}

.fullscreen {
    position: fixed;
    padding-top: 25vh;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    opacity: 0.99;
    background-color: #293846;
    text-align: center;
    font-size: 20vw;
    color: white;
    	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	-moz-text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
	-webkit-text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#overlayUpload {
    width: 95.1%;
    height: 415px;
    padding-top: 100px;
    text-align: center;
}

#uploadList {
    height: 415px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#playlist {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#allSongs {
    height: 493px;
    overflow-y: scroll;
    overflow-x: hidden; 
}

#allSongsPlaylist {
    height: 844px;
    overflow-y: scroll;
    overflow-x: hidden; 
}

#allUser {
    height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-group-addon {
    top: 0px;
    border-color: #e5e6e7;
}

.slide-menu {
    position: absolute;
    bottom: 20px;
    left: 210px;
    width: 230px;
    height: 70px;
    background-color: #EE6D7A;
    box-shadow: -3px 0px 5px #1F2B35;
}

.slide-button {
    position: absolute;
    top: 20px;
    left: 8px;
    color: white;
    font-size: 25px;
    z-index: 1;
}

.slide-menu-entries {
    position: relative;
    left: 40px;
    padding: 0;
    font-size: 20px;
    list-style-type: none;
    background-color: #EE6D7A;
}

.slide-menu-entries a {
    text-decoration: none;
    color: white;
}

.slide-menu-entries li {
    padding: 4.8px 2px 2px 15px;
    transition: background-color 0.4s;
}

.slide-menu-entries li:hover {
    background-color: #E16874;
}