@main("Adminpanel - Create Event"){
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/createEvent.css")" />
 }{
	<div class="container">
		<div class="row top-buffer">
			<div class="jumbotron color-success font-white">
				<h1>Adminpanel - Create a new Event</h1>
				<p>Create a new event by setting a name, a password, a beginning and ending date and by choosing some playlists.</p>
			</div>
		</div>
		<div class="row">
			<form class="form-horizontal" role="form" action="bars" method="get">
				<div class="well">
					<div class="form-group">
						<label for="name" class="col-lg-2 control-label">Name of event</label>
						<div class="col-lg-3">
							<input type="text" class="form-control" id="name" name="name" placeholder="birthday party" required>
						</div>
					</div>
					
					<div class="form-group">
						<label for="password" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-3">
							<input type="password" class="form-control" id="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required>
						</div>
					</div>
					
					<div class="form-group">
						<label for="begin" class="col-lg-2 control-label">Beginning of event</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" name="begin" id="begin" required>
						</div>
					</div>
					
					<div class="form-group">
						<label for="end" class="col-lg-2 control-label">Ending of event</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" name="end" id="end" required>
						</div>
					</div>
						
					<div class="row">
						<div class="row">
							<div class="text-center">
								<h3>Playlists</h3>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										<input type="checkbox" name="ch1">
									</span>
									<input type="text" class="form-control" value="Playlist 1" disabled>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										<input type="checkbox" name="ch2">
									</span>
									<input type="text" class="form-control" value="Playlist 2" disabled>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon">
										<input type="checkbox" name="ch3">
									</span>
									<input type="text" class="form-control" value="Playlist 3" disabled>
								</div>
							</div>
						</div>
						
						<hr>				
						
						<div class="row">
							<div class="col-lg-2 col-lg-offset-1">
								<button type="submit" class="btn btn-success btn-lg">Submit</button>
							</div>
						</div>
					</div>		
				</div>
			</form>
		</div>
	</div>				
}