@dashboard_main("Dashboard - Overview") {
    <!-- Morris CSS -->
    <link href="@routes.Assets.at("stylesheets/morris.css")" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
} {

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <span class="glyphicon glyphicon-cloud changeCover" aria-hidden="true"><span class="title">CLOUD</span></span>
                </li>
                <li class="images">
                    <div class="cover">
                        <img class="image-responsive cover-photo" src="@routes.Assets.at("img/cover1.jpg")">
                    </div>
                    <div class="profile">
                        <img class="img-responsive img-circle profile-picture" src="@routes.Assets.at("img/profile1.jpg")">
                    </div>
                </li>
                <li class="active">
                    <a href="index.html">Overview</a>
                </li>
                <li>
                    <a href="event.html">Events</a>
                </li>
                <li>
                    <a href="playlist.html">Playlists</a>
                </li>
                <li>
                    <a href="song.html">Songs</a>
                </li>
                <li>
                    <a href="user.html">User</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="slide-menu" id="slide-menu">
                <div class="slide-button">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </div>
                <ul class="slide-menu-entries">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Logout</a></li>   
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jumbotron">
                            <h1>CLOUD Dashboard</h1>
                            <p class="light">Welcome to the dashboard of your CLOUD. On this page, you can control the lamp.<br>You can edit your playlists, upload songs, create events and do many more things.
                                Click on the grey button, which shows a cloud, in order to start a thunderstorm. Turn down the volume or click on one of the green buttons to control the music.
                            </p>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Menu
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- view for smartphones -->
                <div class="row visible-xs">
                    
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-user glyphicon-huge" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <div class="huge">26</div>
                                        <div class="">User are registered.</div>
                                    </div>                                    
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-music glyphicon-huge" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <div class="huge">245</div>
                                        <div class="">Songs are stored in the database.</div>
                                    </div>                                    
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-headphones glyphicon-huge" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <div class="huge">Coldplay - Magic</div>
                                        <div class="">is currently played.</div>
                                    </div>                                    
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="glyphicon glyphicon-calendar glyphicon-huge" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-xs-10 text-right">
                                        <div class="huge">Birthday-Party</div>
                                        <div class="">20th february, 10:00 - 15:00</div>
                                    </div>                                    
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-6 text-center music-control top-buffer">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Music Control</h2>    
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl active"><span class="glyphicon glyphicon-play"></span></button>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl"><span class="glyphicon glyphicon-pause"></span></button>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl"><span class="glyphicon glyphicon-step-forward"></span></button>
                            </div>
                        </div>
                    </div>
                                        
                </div> <!-- end row -->
                
                <!-- view for tablets & desktops -->
                <div class="row hidden-xs">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="infobox">
                            <div class="infobox-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Current Event</h3>    
                                    </div>
                                    <div class="col-xs-4  text-right">
                                        <div class="label label-primary">Soon</div>
                                    </div>
                                </div>                               
                            </div>
                            <hr>
                            <div class="infobox-content">
                                <div class="title">Birthday Party</div>
                                <div class="info"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 20th february, 10:00 - 15:00</div>
                            </div>
                             <a href="#">
                                <div class="infobox-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                      <div class="col-lg-2 col-md-6 text-center music-control top-buffer">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Music Control</h2>    
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl active fill"><span class="glyphicon glyphicon-play"></span></button>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl fill"><span class="glyphicon glyphicon-pause"></span></button>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl fill"><span class="glyphicon glyphicon-step-forward"></span></button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-6">
                        <div class="infobox">
                            <div class="infobox-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>User</h3>    
                                    </div>
                                    <div class="col-xs-4  text-right">
                                        <div class="label label-danger">Now</div>
                                    </div>
                                </div>                               
                            </div>
                            <hr>
                            <div class="infobox-content">
                                <div class="title">26 User</div>
                                <div class="info">are registered.</div>
                            </div>
                            <a href="#">
                                <div class="infobox-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="infobox">
                            <div class="infobox-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <h3>Songs</h3>    
                                    </div>
                                    <div class="col-xs-5  text-right">
                                        <div class="label label-primary">Permanent</div>
                                    </div>
                                </div>                               
                            </div>
                            <hr>
                            <div class="infobox-content">
                                <div class="title">254 Songs</div>
                                <div class="info">are stored in the database.</div>
                            </div>
                            <a href="#">
                                <div class="infobox-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="infobox">
                            <div class="infobox-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <h3>Current Song</h3>    
                                    </div>
                                    <div class="col-xs-5  text-right">
                                        <div class="label label-primary">Currently</div>
                                    </div>
                                </div>                               
                            </div>
                            <hr>
                            <div class="infobox-content">
                                <div class="title">Coldplay - Magic</div>
                                <div class="info">Album: Ghost Stories, Genre: Pop, Likes: 50</div>
                            </div>
                             <a href="#">
                                <div class="infobox-footer">
                                    <span class="pull-left">View details</span>
                                    <span class="glyphicon glyphicon-download pull-right" aria-hidden="true"></span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>   
										
                </div> <!-- end row -->
                
                <div class="row">
                                    
                    <div class="col-lg-5 col-md-6">
                        <div class="text-center"><h2>Amount of Songs</h2></div>
                        <div id="chart" style="height: 225px;"></div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>Controls / Modes</h2>    
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-red btn-red-control btn-circle-xl shutdown" data-toggle="tooltip" data-placement="bottom" title="Shutdown" onclick="$operation=0">
                                    <span class="glyphicon glyphicon-off"></span>
                                </button>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-grey btn-circle-xl thunder" data-toggle="tooltip" data-placement="bottom" title="Thunder" onclick="$operation=1">
                                    <span class="glyphicon glyphicon-cloud"></span>
                                </button>
                            </div>
                            <div class="col-lg-4 col-xs-4">
                                <button class="btn btn-green btn-circle-xl ledtest" data-toggle="tooltip" data-placement="bottom" title="LED test" onclick="$operation=2">
                                    <span class="glyphicon glyphicon-lamp"></span>
                                </button>
                            </div>
                            <div class="col-lg-4 col-xs-4 top-buffer">
                                <button class="btn btn-blue btn-circle-xl thunderstorm" data-toggle="tooltip" data-placement="bottom" title="Thunderstorm" onclick="$operation=3">
                                    <span class="glyphicon glyphicon-thunderstorm"></span>
                                </button>
                            </div>
                            <div class="col-lg-4 col-xs-4 top-buffer">
                                <button class="btn btn-grey btn-circle-xl soundreactive" data-toggle="tooltip" data-placement="bottom" title="Sound reactive" onclick="$operation=4">
                                    <span class="glyphicon glyphicon-music"></span>
                                </button>
                            </div>
                            <div class="col-lg-4 col-xs-4 top-buffer">
                                <button class="btn btn-orange btn-circle-xl pulsating" data-toggle="tooltip" data-placement="bottom" title="Pulsating light" onclick="$operation=5">
                                    <span class="glyphicon glyphicon-pulse"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                                   
					<div class="col-lg-3 col-md-6 volume">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>Volume</h2>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-lg-12 text-center">
                                <input class="knobdial" data-width="100%" value="35" data-skin="tron" data-thickness=".2" data-fgColor="#19AA8E" data-displayPrevious=true>
                            </div>
                        </div>
					</div>
                    
                </div> <!-- end row -->
                
            </div>  <!-- end container-fluid -->
        
        </div>  <!-- end page-content-wrapper -->
        
    </div>  <!-- end wrapper -->
    
	<div class="fullscreen" hidden>Goodbye</div>
} {
	<!-- jQuery Knob -->
	<script src="@routes.Assets.at("javascripts/jquery.knob.min.js")"></script>
    <!-- Morris.js -->
    <script src="@routes.Assets.at("javascripts/morris.min.js")"></script>
    <!-- Raphael.js -->
    <script src="@routes.Assets.at("javascripts/raphael.min.js")"></script>
    <!-- Toastr.js -->
    <script src="@routes.Assets.at("javascripts/toastr.min.js")"></script>
    <!-- JS for Overview Page -->
    <script src="@routes.Assets.at("javascripts/dashboard.js")"></script>
}