@main("Host Party") {
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.css")" />
} {

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<button type="button" class="btn btn-default navbar-btn">
			<span class="glyphicon glyphicon-cloud" aria-hidden="true"
				onclick="up()"></span>
		</button>
		<button type="button" class="btn btn-default navbar-btn">
			<span class="glyphicon glyphicon-play" aria-hidden="true"
				onclick="down('#liste_songs')"></span>
		</button>
		<button type="button" class="btn btn-default navbar-btn">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		</button>
		<span type="button" class="btn btn-default navbar-btn">
			<a href="/admin/createEvent"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
		</span>
	</div>
</nav>


<div class="container">
	<br>
	<br>
	<br>
	<div class="well">
		<div class="page-header" style="text-align: center">
			<h1>
				Project 'CLOUD' presents: <small></small>
			</h1>
		</div>
		<div class="vc-container">
			<div class="vc-tape-wrapper">
				<div class="vc-tape">
					<div class="vc-tape-back">
						<div class="vc-tape-wheel vc-tape-wheel-left">
							<div></div>
						</div>
						<div class="vc-tape-wheel vc-tape-wheel-right">
							<div></div>
						</div>
					</div>
					<div class="vc-tape-front vc-tape-side-a">
						<span>A</span>
					</div>
					<div class="vc-tape-front vc-tape-side-b">
						<span>B</span>
					</div>
				</div>
			</div>
			<div class="vc-loader"></div>
		</div>
		<!-- //vc-container -->
	</div>

	<div class="well col-lg-8">
		<form class="form-horizontal" role="form" action="bars" method="get">

			<!--  hier die Liste -->

			<div class="panel panel-default">
				<!-- Table -->
				<table id="liste_songs" class="table">
					<tr>
						<td>Chris Brown</td>
						<td>Get Low</td>
						<td class="col-lg-1"><span class="badge">14</span></td>
						<td class="col-lg-2">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button>
						</td>
					</tr>
					<tr>
						<td>T-Pain</td>
						<td>Shoot'em</td>
						<td><span class="badge">12</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
					<tr>
						<td>Rihanna ft. Chris Brown</td>
						<td>Hit it</td>
						<td><span class="badge">9</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
					<tr>
						<td>Davin Guetta</td>
						<td>S.T.A.Y</td>
						<td><span class="badge">9</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
					<tr>
						<td>Avicii</td>
						<td>I'm here</td>
						<td><span class="badge">3</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
					<tr>
						<td>Gentleman</td>
						<td>Without you</td>
						<td><span class="badge">1</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
					<tr>
						<td>Noisia</td>
						<td>Interpolar</td>
						<td><span class="badge">0</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
					<tr>
						<td>Skrillex</td>
						<td>Bangarang</td>
						<td><span class="badge">0</span></td>
						<td><button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-heart" aria-hidden="true">
								</span>
							</button>
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-headphones" aria-hidden="true">
								</span>
							</button></td>
					</tr>
				</table>
			</div>
		</form>
	</div>

	<div class="well col-lg-3 col-lg-offset-1">
		<div class="row col-lg-11">
			<div class="list-group">
				<a href="#" class="list-group-item disabled"> Cras justo odio </a> <a
					href="#" class="list-group-item">Dapibus ac facilisis in</a> <a
					href="#" class="list-group-item">Morbi leo risus</a> <a href="#"
					class="list-group-item">Porta ac consectetur ac</a> <a href="#"
					class="list-group-item">Vestibulum at eros</a> <a href="#"
					class="list-group-item disabled"> Cras justo odio </a> <a href="#"
					class="list-group-item">Dapibus ac facilisis in</a> <a href="#"
					class="list-group-item">Morbi leo risus</a> <a href="#"
					class="list-group-item">Porta ac consectetur ac</a> <a href="#"
					class="list-group-item">Vestibulum at eros</a>
			</div>
		</div>
	</div>
</div>
}
