@dashboardTemplate("Dashboard - User")(4) {
} {
    	<!-- Page Content -->
        <div id="page-content-wrapper">
            
            <div class="container-fluid">
            
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jumbotron">
                            <h1>User</h1>
                            <p class="light">A user is a person who has logged in to your CLOUD. Each user has a free selectable nickname. As long as there exists no event for the current point in time, no user can log in.
                                The password for each user is this one which the admin assigned to the current event.<br>The admin himself is a special user who can - of course - log in at any time. On this site, you can change the admin password and you can also delete user.
                            </p>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> Menu
                            </a>
                        </div>
                    </div>
                </div> <!-- end row -->
                
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="infobox">
                            <div class="infobox-heading">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <h3>Basic form <small>Simple list of all existing user</small></h3>    
                                    </div>
                                    <div class="col-xs-5  text-right">
                                        <div class="label label-primary">Current</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="infobox-content table-responsive">
                                <div class="title">6 User</div>
                                <div class="info">are stored in the database.</div>
                                <div class="row" id="allUser">
                                    <div class="col-lg-12">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Delete User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>0</th>
                                                    <td>Tom</td>
                                                    <td>logged in</td>
                                                    <td>
                                                        <a href="#" class="grey"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>1</th>
                                                    <td>Markus</td>
                                                    <td>logged in</td>
                                                    <td>
                                                        <a href="#" class="grey"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>2</th>
                                                    <td>Anna</td>
                                                    <td>logged out</td>
                                                    <td>
                                                        <a href="#" class="grey"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>3</th>
                                                    <td>Jens</td>
                                                    <td>logged out</td>
                                                    <td>
                                                        <a href="#" class="grey"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>4</th>
                                                    <td>Maren</td>
                                                    <td>logged in</td>
                                                    <td>
                                                        <a href="#" class="grey"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>5</th>
                                                    <td>Melanie</td>
                                                    <td>logged in</td>
                                                    <td>
                                                        <a href="#" class="grey"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6">
                        <div class="infobox">
                            <div class="infobox-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Basic form <small>Form for editing admin password</small></h3>    
                                    </div>
                                    <div class="col-xs-4  text-right">
                                        <div class="label label-danger">Current</div>
                                    </div>
                                </div>                               
                            </div>
                            <hr>
                            <div class="infobox-content">
                                <div class="title">Admin Password</div>
                                <form>
                                    <div class="form-group input-group">
                                        <input type="password" class="form-control" value="loremipsum" aria-describedby="eye" id="password">
                                        <span class="glyphicon glyphicon-eye-open input-group-addon" id="eye"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-green">Change Password</button>
                                    </div>
                                </form>
                            </div>
                            <a href="#">
                                <div class="infobox-footer">
                                    <span class="pull-left">Please select a secure password.</span>
                                    <span class="clearfix"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div> <!-- end row -->
                
            </div> <!-- end container-fluid -->
        
        </div> <!-- end page-content-wrapper -->
    
    </div> <!-- end wrapper -->
} {
	<script>
		// password
        $('#eye').hover(function() {
            $('#password').attr('type', 'text');
            $('#password').animate({borderColor: '#38B89F'}, 100);
        });
        $('#eye').mouseleave(function() {
            $('#password').attr('type', 'password');
            $('#password').animate({borderColor: '#e5e6e7'}, 50);
        });
    </script>
}