@(title: String)(activePage: Int)(style:Html)(content: Html)(scripts: Html)
<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>@title</title>
		<link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.ico")">
		<link rel="icon" sizes="16x16 32x32 64x64" href="@routes.Assets.at("icons/favicon.ico")">
		<link rel="icon" type="image/png" sizes="196x196" href="@routes.Assets.at("icons/favicon-192.png")">
		<link rel="icon" type="image/png" sizes="160x160" href="@routes.Assets.at("icons/favicon-160.png")">
		<link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.at("icons/favicon-96.png")">
		<link rel="icon" type="image/png" sizes="64x64" href="@routes.Assets.at("icons/favicon-64.png")">
		<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.at("icons/favicon-32.png")">
		<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.at("icons/favicon-16.png")">
		<link rel="apple-touch-icon" href="@routes.Assets.at("icons/favicon-57.png")">
		<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("icons/favicon-114.png")">
		<link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("icons/favicon-72.png")">
		<link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("icons/favicon-144.png")">
		<link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.at("icons/favicon-60.png")">
		<link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("icons/favicon-120.png")">
		<link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("icons/favicon-76.png")">
		<link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("icons/favicon-152.png")">
		<link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.at("icons/favicon-180.png")">		
		<!--  Bootstrap Core CSS -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<!--  Dashboard CSS -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/simple-sidebar.css")">
		<!-- Toastr CSS -->
	    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/toastr.min.css")">
		@style
	</head>
	<body>
	
	    <div id="wrapper">
	
	        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li class="sidebar-brand">
	                    <span class="glyphicon glyphicon-cloud changeCover" aria-hidden="true"><span class="title">CLOUD</span></span>
	                </li>
	                <li class="images">
	                    <div class="cover">
	                        <img class="image-responsive cover-photo" src="@routes.Assets.at("img/cover1.jpg")">
	                    </div>
	                    <div class="profile">
	                        <img class="img-responsive img-circle profile-picture" src="@routes.Assets.at("img/profile1.jpg")">
	                    </div>
	                </li>
	                @if(activePage == 0) {
	                	<li class="active">
	                } else {
	                	<li>
	                }
	                    <a href="/dashboard">Overview</a>
	                </li>
	                @if(activePage == 1) {
	                	<li class="active">
	                } else {
	                	<li>
	                }    <a href="/events">Events</a>
	                </li>
	                @if(activePage == 2) {
	                	<li class="active">
	                } else {
	                	<li>
	                }
	                    <a href="/playlists">Playlists</a>
	                </li>
	                @if(activePage == 3) {
	                	<li class="active">
	                } else {
	                	<li>
	                }
	                    <a href="/songs">Songs</a>
	                </li>
	                @if(activePage == 4) {
	                	<li class="active">
	                } else {
	                	<li>
	                }
	                    <a href="/user">User</a>
	                </li>
	                @if(activePage == 5) {
	                	<li class="active">
	                } else {
	                	<li>
	                }
	                    <a href="#">Contact</a>
	                </li>
	            </ul>
	            <div class="slide-menu" id="slide-menu">
	                <div class="slide-button">
	                    <span class="glyphicon glyphicon-option-vertical"></span>
	                </div>
	                <ul class="slide-menu-entries">
	                    <li><a href="/">Home</a></li>
	                    <li><a href="/logout">Logout</a></li>   
	                </ul>
	            </div>
	        </div> <!-- /#sidebar-wrapper -->
	    
		@content
	    
	    </div> <!-- end wrapper -->
	    
	    <!-- jQuery -->
	    <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
		<!-- jQuery UI -->
		<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
		<!-- Bootstrap Core JavaScript -->
	    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
   		<!-- Toastr.js -->
    	<script src="@routes.Assets.at("javascripts/toastr.min.js")"></script>
	    @scripts
	    <script>
	    	// cover photo
		    var $i = 1;
		    $('.changeCover').click(function () {
		                
		    	$('.cover-photo').effect('slide', 'slow');
		    	if ($i == 10) {
		            $i = 1;
		        } else {
		            $i++;
		        }
		    	$('.cover-photo').attr('src','img/cover' + $i + '.jpg');
		    	$('.cover-photo').show();
		    });
		    // sidebar
		    $('#menu-toggle').click(function (e) {
		        e.preventDefault();
		        $('#wrapper').toggleClass('toggled');
		    });
			// toastr
		    toastr.options = {
					'closeButton': false,
				    'debug': true,
				    'newestOnTop': false,
				    'progressBar': true,
				    'positionClass': 'toast-top-right',
				    'preventDuplicates': false,
				    'onclick': null,
				    'showDuration': '300',
				    'hideDuration': '1000',
				    'timeOut': '7000',
				    'extendedTimeOut': '1000',
				    'showEasing': 'swing',
				    'hideEasing': 'linear',
				    'showMethod': 'show',
				    'hideMethod': 'fadeOut'
			};
		</script>
	@if(flash.containsKey("success")) {
		<script>Command: toastr['success']('@flash.get("success")');</script>
	}
	@if(flash.containsKey("error")) {
		<script>Command: toastr['error']('@flash.get("error")');</script>
	}
	@if(flash.containsKey("info")) {
		<script>Command: toastr['info']('@flash.get("info")');</script>
	}
	@if(flash.containsKey("warning")) {
		<script>Command: toastr['warning']('@flash.get("warning")');</script>
	}
	@if(flash.containsKey("uploadWarning")) {
		<script>Command: toastr['warning']('@flash.get("uploadWarning")');</script>
	}
	@if(flash.containsKey("fileError")) {
		<script>Command: toastr['error']('@flash.get("fileError")');</script>
	}
	</body>
</html>