@(title: String)(style:Html)(content: Html)(script: Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>@title</title>
	<link rel="shortcut icon" href="@routes.Assets.at("icons/favicon.ico")">
	<link rel="icon" sizes="16x16 32x32 64x64" href="@routes.Assets.at("icons/favicon.ico")">
	<link rel="icon" type="image/png" sizes="196x196" href="@routes.Assets.at("icons/favicon-192.png")">
	<link rel="icon" type="image/png" sizes="160x160" href="@routes.Assets.at("icons/favicon-160.png")">
	<link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.at("icons/favicon-96.png")">
	<link rel="icon" type="image/png" sizes="64x64" href="@routes.Assets.at("icons/favicon-64.png")">
	<link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.at("icons/favicon-32.png")">
	<link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.at("icons/favicon-16.png")">
	<link rel="apple-touch-icon" href="@routes.Assets.at("icons/favicon-57.png")">
	<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("icons/favicon-114.png")">
	<link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("icons/favicon-72.png")">
	<link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("icons/favicon-144.png")">
	<link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.at("icons/favicon-60.png")">
	<link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("icons/favicon-120.png")">
	<link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("icons/favicon-76.png")">
	<link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("icons/favicon-152.png")">
	<link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.at("icons/favicon-180.png")">		
	<!--  Bootstrap Core CSS -->
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<!-- Toastr CSS -->
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/toastr.min.css")">
	@style
</head>
<body>
	@content
	<!-- jQuery -->
	<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
   	<!-- Toastr.js -->
    <script src="@routes.Assets.at("javascripts/toastr.min.js")"></script>
	<script>
		// toastr
		toastr.options = {
			'closeButton': false,
		    'debug': false,
		    'newestOnTop': false,
		    'progressBar': true,
		    'positionClass': 'toast-top-right',
		    'preventDuplicates': false,
		    'onclick': null,
		    'showDuration': '300',
		    'hideDuration': '1000',
			    'timeOut': '7000',
			    'extendedTimeOut': '1000',
			    'showEasing': 'swing',
			    'hideEasing': 'linear',
			    'showMethod': 'show',
			    'hideMethod': 'fadeOut'
		};
	</script>
	@if(flash.containsKey("error")) {
		<script>Command: toastr['error']('@flash.get("error")');</script>
	}
	@if(flash.containsKey("info")) {
		<script>Command: toastr['info']('<span id="bye"></span>@flash.get("info")');</script>
	}
	@if(flash.containsKey("warning")) {
		<script>Command: toastr['warning']('@flash.get("warning")');</script>
	}
	@script
</body>
</html>